@page
@if (SignInManager.IsSignedIn(User))
{
    @model CommerceBankWebApp.Pages.IndexModel
}

@using CommerceBankWebApp.Models;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        @if (SignInManager.IsSignedIn(User))
        {
            <div style="text-align: center; margin: 0 auto" class="col left-block solid-black-border white-block round-corners btn-block">
                @for (int i = 0; i < Model.BankAccounts.Count; i++)
                {
                    <a style="color: white;" class="green-block round-corners btn btn-margin-20" href=@($"/ViewTransactions?index={i}")>@Model.BankAccounts[i].BankAccountType.Description ( @Model.BankAccounts[i].AccountNumber ) </a>
                    <br />
                }
            </div>
        }
        else
        {
            <div class="col text-center left-block medium-block green-block round-corners">
                <h1 class="display-4" style="font-size: 2rem; margin-top: 50px; color: white; margin-bottom: 30px">What's your next challenge?</h1>
                <hr>
                <p>
                    You’ve got big plans. Not sure where to start? When it comes to money, we’re here to help you connect the dots, no matter what your next step is.
                </p>
                <a href="#" class="btn btn-primary" style="margin-top: 45px">Learn more <span class="visually-hidden">about What's your next challenge.</span></a>
            </div>
        }
        <img class="img-responsive responsive-size-2" style="border-radius:25px; margin:15px;" src="https://www.aboutmanchester.co.uk/wp-content/uploads/2019/11/1-23.jpg" alt="Chania">

    </div>
    <div class="row">
        <img class="img-responsive" height="100%" width="100%" style="border-radius:25px; margin:15px;" src="https://www.commercebank.com/-/media/cb/images/basic-content-modules/side-by-side/personal/home-digital-wallets-side-by-side.jpg?sc=1&revision=8230bc97-b5bc-42f0-894d-306882d30918&modified=20200402130423&hash=AA827731EE8E037E06D80132B82628A5297D8E29">
    </div>
    <div class="row">
        <img class="img-responsive responsive-size" style="border-radius:25px; margin:15px;" src="https://www.commercebank.com/-/media/cb/images/basic-content-modules/side-by-side/personal/home-all-in-this-together-side-by-side.jpg?sc=1&revision=8b6be9fe-df8d-4e8a-b16e-d07dd368d601&modified=20210221052519&hash=53C0ECEC9DC7787A7B2653009CC70BC9C0D5A7AC">
        <div class="col text-center round-corners left-block white-block solid-black-border">
            <h1 class="display-4" style="font-size: 2rem;">We’re all in this together.</h1>
            <hr>
            <p>
                Commerce Bank is here for our customers – in good times and challenging times – and this situation is no exception. Find out how we’re responding to COVID-19, and how you can get help if your finances are being affected.
            </p>
            <a href="#" class="btn btn-primary" style="margin-top: 30px">Learn more <span class="visually-hidden">about What's your next challenge.</span></a>
        </div>
    </div>
    <div class="row">
        <img class="img-responsive responsive-size" style="border-radius:25px; margin:15px;" src="https://www.commercebank.com/-/media/cb/images/basic-content-modules/side-by-side/personal/home-mobile-banking-side-by-side.jpg?sc=1&revision=ab7a0a6a-4248-4e4e-b9aa-97c1df3255da&modified=20200402130424&hash=7E92A0AB7925A18A5A4065DE37B4558C709A8B19">
        <div class="col text-center round-corners left-block white-block solid-black-border">
            <h1 class="display-4" style="font-size: 2rem;">Mobile Banking</h1>
            <hr>
            <p>
                Put your finances at your fingertips with the redesigned Commerce Benk Mobile Bankings App.
            </p>
            <a href="#" class="btn btn-primary" style="margin-top: 30px">Learn more <span class="visually-hidden">about What's your next challenge.</span></a>
        </div>
    </div>
    <div class="row">
        <img class="img-responsive responsive-size" style="border-radius:25px; margin:15px;" src="https://www.commercebank.com/-/media/cb/images/wealth/wealth-external-side-by-side.jpg?sc=1&revision=f6db8a8e-52a0-4e1c-9ad4-610d0c6bb424&modified=20210721194002&hash=C6F9B46F0AA118D68BB58E2E5F03D20A37D91CFF">
        <div class="col text-center round-corners left-block white-block solid-black-border">
            <h1 class="display-4" style="font-size: 2rem;">Beyond Banking</h1>
            <hr>
            <p>
                Need help planning for the future? Whether you are just getting started, enjoying retirement, or somewhere in between, Commerce is here to help you take the next financial step.
            </p>
            <a href="#" class="btn btn-primary" style="margin-top: 30px">Learn more <span class="visually-hidden">about What's your next challenge.</span></a>
        </div>
    </div>
</div>

