@page
@using CommerceBankWebApp.Models;
@model CommerceBankWebApp.Pages.PopulateDatabaseModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Populate Database";
}


<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" />
</form>