@page
@using CommerceBankWebApp.Models;
@model CommerceBankWebApp.Pages.PopulateDatabaseModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <td>Account Type</td>
        <td>Account #</td>
        <td>Date</td>
        <td>Balance</td>
        <td>Is Credit</td>
        <td>Amount</td>
        <td>Description</td>
    </tr>
    @foreach (BankAccount account in Model.BankAccounts)
    {
        foreach (Transaction transaction in account.Transactions)
        {
            <tr>
                <td>@account.AccountType</td>
                <td>@account.AccountNumber</td>
                <td>@transaction.ProcessingDate.ToShortDateString()</td>

                @if (transaction.Balance.HasValue)
                {
                    if (transaction.Balance.Value < 0)
                    {
                        <td class="text-danger">$@transaction.Balance.Value.ToString("0.00")</td>
                    }
                    else
                    {
                        <td>$@transaction.Balance.Value.ToString("0.00")</td>
                    }
                }
                else
                {
                    <td> </td>
                }

                @if (transaction.IsCredit)
                {
                    <td class="text-success">CR</td>
                    <td class="text-success">$@transaction.Amount.ToString("0.00")</td>
                }
                else
                {
                    <td class="text-danger">DR</td>
                    <td>$@transaction.Amount.ToString("0.00")</td>
                }

                <td>@transaction.Description</td>
            </tr>
        }
    }
</table>