@page
@model CommerceBankWebApp.Pages.PrivacyModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Privacy Policy";
}

<h1 style="text-align:center;">@ViewData["Title"]</h1>

<div class="text-box" style="text-align:center;">
    <div>Protecting your privacy is important to Commerce and to our employees. We want you to understand what information we collect and how we use it. Our Privacy Statement serves as a standard for all Commerce employees for collection, use, retention and security of nonpublic personal information.</div>
    <br>
    <p><a href="https://www.commercebank.com/-/media/cb/pdf/global/privacy-statement.pdf?la=en&revision=f458c008-5c48-477f-90a5-b2c57506c56c&modified=20200130133411&hash=E7AD01524CEC88B30AD0208FCBD7F7F6B7D5E271" target="_blank">Privacy Statement <sup>[PDF]</sup></a></p>
    <br>
    <p>
        <strong>Disclosures</strong><br>
        To view or print a PDF file, Adobe® Reader® 9.5 or above is recommended. <a href="https://get.adobe.com/reader/">Download the latest version</a>.
    </p>
</div>