@page
@model CommerceBankWebApp.Areas.Identity.Pages.Account.Manage.BankAccountsModel
@{
}


<h4>Accounts</h4>

<div class=" green-block round-corners" style="padding:5px;">
@foreach (var account in Model.BankAccounts){<p>@account.AccountNumber -- @account.BankAccountType.Description</p>}
</div>
<hr />


<h4>Add Bank Account!</h4>
<form method="post" class=" green-block round-corners" style="padding:20px;">
    <div class="form-group">
        <label asp-for="Input.AccountNumber"></label>
        <input asp-for="Input.AccountNumber" class="form-control" />
        <span asp-validation-for="Input.AccountType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.AccountType"></label><br />
        @foreach (var accountType in Model.AccountTypes)
        {
            <input type="radio" asp-for="Input.AccountType" value="@accountType" />@accountType<br />
        }
        <span asp-validation-for="Input.AccountType" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>